body {
  font-family: 'Staatliches';
}

main {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  flex-flow: row wrap;
}

section {
flex: row wrap; 
width: 200px;
}

section > img {
  height: 200px;
  width: 200px;
}